
{{> head}}


{{> navbar}}

<div class='row'>

	<div class='col-8'>
		<h1> About - Node- Example </h1>
		<p>
			Este es miprimer proyecto de Node, esta espectacular.
			Vamos paso a paso, adquiriendo conceptos importantes para hacer una aplicacion dinamica y bien estructurada.
		</p>
	</div>

	<div class='col-4'>
			<img src="assets/img/majo.jpg" class="img-thumbnail"> 
	</div>


</div>

	

{{> footer}}